{% extends 'bootstrap/base.html' %}

{% block styles %}
{{super()}}
<link rel="stylesheet"
      href="/static/css/styles.css">
{% endblock %}

{% block title %}ADD{% endblock %}

{% block content %}
<div class="jumbotron add text-center">
    <div class="container">
      <h1 class="display-4">Update</h1>
      <p class="lead">Plan a new task</p>
      <hr class="my-4">
    </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-12">
	  <table class="table">
          <tr>
              <td style="border: 0;">
                  <form action="{{url_for('home') }}" method="post">
                      <div class="">
                        <label for="day" class="task-label">Select a day of the week</label>
                          <br>
                          <select id="day" name="day-OW" class="form-control task-name" required="required">
                              <option value="Monday">Monday</option>
                              <option value="Tuesday">Tuesday</option>
                              <option value="Wednesday">Wednesday</option>
                              <option value="Thursday">Thursday</option>
                              <option value="Friday">Friday</option>
                              <option value="Saturday">Saturday</option>
                          </select>
                        <label for="name" class="">Task Name</label>
                        <input type="text" class="form-control task-name" id="name" aria-describedby="nameHelp"
                        name="name" required="required">
                        <input type="hidden" value="{{day}}">
                      </div>
                      <div class="">
                        <label for="message" class="form-label">Description</label>
                            <textarea class="form-control task-description" aria-label="With textarea" id="message"
                                      name="description" required="required">
                            </textarea>
                      </div>
                      <button type="submit" class="btn btn-dark" style="margin-top: 10px;" name="">Submit</button>
                  </form>
              </td>
          </tr>
      </table>
    </div>
  </div>
</div>


{% endblock %}
